<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Hello I'm Mihir . I write about my adventures in front-end development"
    />
    <link rel="stylesheet" href="{{ '/css/style.css' | url }}" />
    <link
      href="https://api.fontshare.com/css?f[]=bespoke-stencil@700&f[]=tanker@400&display=swap"
      rel="stylesheet"
    />
    <script
      defer
      src="https://identity.netlify.com/v1/netlify-identity-widget.js"
    ></script>
    <script
      async
      defer
      data-website-id="f84621d0-0fd2-4247-bb0a-1acaf00708e1"
      src="https://mkanalytics.up.railway.app/umami.js"
    ></script>
    <title>{{ title }}</title>
  </head>
  <body>
    <main class="container">
      {% include 'navbar.njk' %}
      {{ content | safe }}
      {% include 'footer.njk' %}
    </main>
  </body>
</html>
