<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="{{ '/css/style.css' | url }}" />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="{{ 'assets/favicon/apple-touch-icon.png' | url }}"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="{{ 'assets/favicon/favicon-32x32.png' | url }}"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="{{ 'assets/favicon/favicon-16x16.png' | url }}"
    />
    <link rel="manifest" href="{{ 'assets/favicon/site.webmanifest' | url }}" />
    <!-- Primary Meta Tags -->
    <title>{{ title }}</title>
    <meta name="description" content="{{ description }}" />
    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta
      property="og:url"
      content="https://mihirkblog.netlify.app{{ page.url }}"
    />
    <meta
      property="og:title"
      content="Hello I'm Mihir I write about my adventures in front-end development"
    />
    <meta
      property="og:description"
      content="Hello, I am Mihir a 16yrs old front-end developer. I am embarking on this new journey trying to discover new aspects of this arena. Hope that you join me and together we discover new horizons."
    />
    <meta
      property="og:image"
      content="{{
        'https://mihirkblog.netlify.app/assets/meta-image.png' | url
      }}"
    />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta
      property="twitter:url"
      content="https://mihirkblog.netlify.app{{ page.url }}"
    />
    <meta
      property="twitter:title"
      content="Hello I'm Mihir I write about my adventures in front-end development"
    />
    <meta
      property="twitter:description"
      content="Hello, I am Mihir a 16yrs old front-end developer. I am embarking on this new journey trying to discover new aspects of this arena. Hope that you join me and together we discover new horizons."
    />
    <meta
      property="twitter:image"
      content="{{
        'https://mihirkblog.netlify.app/assets/meta-image.png' | url
      }}"
    />
    <link rel="canonical" href="https://mihirkblog.netlify.app{{ page.url }}" />
    <link
      href="https://api.fontshare.com/css?f[]=bespoke-stencil@700&f[]=tanker@400&display=swap"
      rel="stylesheet"
      media="screen"
    />
    <script
      defer
      src="https://identity.netlify.com/v1/netlify-identity-widget.js"
    ></script>
    <script
      async
      defer
      data-website-id="f84621d0-0fd2-4247-bb0a-1acaf00708e1"
      src="https://mkanalytics.up.railway.app/umami.js"
    ></script>
  </head>
  <body>
    {% include 'navbar.njk' %}
    <main class="container">
      {{ content | safe }}
    </main>
    {% include 'footer.njk' %}
  </body>
</html>
