<footer>
  <div class="footer-section">
    <p><b>Navigation</b></p>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/blog">Blog</a></li>
      <li><a href="/about">About</a></li>
    </ul>
  </div>
  <div class="footer-section">
    <ul>
      <li><b>Other Links</b></li>
      <li><a href="https://mihirkportfolio.netlify.app/">Portfolio</a></li>
    </ul>
  </div>
  <div class="footer-section">
    <ul>
      <li><b>Social Links</b></li>
      <li><a href="/">Github</a></li>
      <li><a href="/">Discord</a></li>
    </ul>
  </div>
</footer>
