<div class="container">
  <header>
    <a class="logo" href="/">MK</a>
    <nav>
      <li><a href="/">Home</a></li>
      <li><a href="/">Blog</a></li>
      <li><a href="/">About</a></li>
    </nav>
  </header>
</div>
