<article class="snippet">
  <div class="image">
    <img
      src="{{ post.data.image }}"
      alt="Cover Image"
      width="1920"
      height="1080"
    />
  </div>
  <div class="info">
    <h2>{{ post.data.title }}</h2>
    <date>{{ post.data.date | postDate }}</date>
    <p>{{ post.data.description }}</p>
    <p>About {{ "text" | timeToRead }} reading time</p>
    <a href="{{ post.url }}" class="btn">Read More</a>
  </div>
</article>
