---
layout: base.njk
---

<section class="post">
  <div class="meta">
    <p>{{ date | postDate }}</p>
    <h1>{{ title }}</h1>
    <img src="{{ image }}" alt="" width="1920" height="1080" />
  </div>
  {{ content | safe }}
</section>
