---
title: About
layout: base.njk
---

<section class="about">
  <h1>About</h1>
  <p>
    Hi I'm Mihir. I am a student from India. I write blog about my adventures in
    front-end development, useful resources and a little tips about ui design.
  </p>
</section>
