---
title: About
layout: base.njk
---

<section class="about">
  <h1>About Me</h1>
  <p>
    Hello, I am Mihir a 16yrs old front-end developer. I am embarking on this
    new journey trying to discover new aspects of this arena. Hope that you join
    me and together we discover new horizons.
  </p>
</section>
