---
title: Blog | MihirK
description: Check out my latest blogs
layout: base.njk
image: /assets/meta-image.png
---

<section class="blog">
  <h1>Recent Articles</h1>
  <div class="cards">
    {%- for post in collections.post | reverse -%} {% include 'postlist.njk' %}
    {%- endfor -%}
  </div>
</section>
