---
title: Home | MihirK
description: Hello, I am Mihir a 16yrs old front-end developer. I am embarking on this new journey trying to discover new aspects of this arena. Hope that you join me and together we discover new horizons.
layout: base.njk
---

<section class="hero">
  <h1>
    Hello I'm <span class="name">Mihir</span> <br />
    I write about my adventures in front-end development
  </h1>
  <a href="/blog" class="btn">Recent Posts</a>
</section>
<section class="featured">
  <div class="article">
    {%- for post in collections.featured | reverse -%} {% include
    'postsnippet.njk' %} {%- endfor -%}
  </div>
</section>
